# Exclude folders
imagenette
libtorch
serialized_batches
runs/ResNet50_modified
runs/ResNet50

#Exclude specific files
map_clsloc.txt
#Exclude large files
*.pt
*.onnx 
/data/cmpe258-sp24/017553289/cmpe258/Assignment1/resnet50_modified.onnx
